local
.settings
*._*
*.pyc
*.pyo
.cache
tmp
.project
.pydevproject
\#*
.\#*
.*.swp
*~
.*.sw*
TAGS
tags
.ropeproject
*_flymake.py
*,cover
.coverage
coverage/
docs/build
sphinx
.~lock.*
.noseids
.DS_Store
htmlcov/
venv
.idea